.gameContainer {
  text-align: center;
  font-size: 2vw;
  margin: 1em auto;
  height: auto;
  width: 75%;
  background-color: #f2f2f2;
  border: 3px solid;
  border-radius: 15px;
  border-color: #c4c4c4;
  padding: 20px;
}

.gameTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin: 20px;
}

.gameButton__human, .gameButton__robo, .gameButton__reset {
  font-size: 36px;
  width: 10vw;
}

.gameButton__play, .gameButton__help {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  width: 15vw;
  margin: 5px;
}

.dangerousHTML {
  text-align: center;
}

.navTable {
  width: 100%;
  table-layout: fixed;
}

.navTable__animation--score, .navTable__animation--life {
  animation: fade-in 0.8s ease;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.table__answers {
  font-size: 1.5vw;
  margin: auto;
}

.table__answers tbody td {
  vertical-align: top;
  padding: 10px;
}
